.jumbotron {
    background: url("../images/jumbotron\ backgrounf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card {
        width: 80%;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}
